.slider {
  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  &-items {
    display: flex;
    position: relative;

    .item {
      &-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        scroll-snap-align: center;
      }

      &-wrapper {
        padding-bottom: calc(329 / 512 * 100%);
      }
    }
  }
}
